* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    
}
.logo {
    font-size: 28px;
    font-weight: 700;
    color: #c80404;
}
.nav a {
    text-decoration: none;
    color: #333;
    margin-left: 20px;
    font-weight: 400;
    transition: color 0.3s;
}
.nav a:hover {
    color:  #c80404;
}
.nav-button {
    background-color: #c80404;
    color: white !important; 
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: 700;
    transition: background-color 0.3s;
}
.nav-button:hover {
    background-color: #097d1c;;
}
.hero {
    background: url('https://t3.ftcdn.net/jpg/03/18/92/98/360_F_318929874_BjOfHFRXjHyJ3e3mnpg2G9nQtfc2T7DV.jpg') center/cover no-repeat;
   
    background-color: #333;
    color: white;
    text-align: center;
    padding: 100px 20px;
    height: 800px;
    width: 100%;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: left;
}
.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
    font-weight: 700;
}
.hero p {
    font-size: 20px;
    margin-bottom: 30px;
}
.search-bar {
    display: flex;
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.search-bar input[type="text"] {
    flex-grow: 1;
    padding: 15px 20px;
    border: none;
    font-size: 16px;
    outline: none;
}
.search-bar button {
    background-color: #333; 
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.3s;
}
.search-bar button:hover {
    background-color: #000;
}
.featured-section {
    background-color:rgb(242, 233, 233);
    display: flex;
    flex-wrap:wrap ;
    overflow: scroll;
    padding: 50px 5%;
    text-align: center;
}
.featured-section h2 {
    font-size: 32px;
    margin-bottom: 30px;
    color: #333;
}
.category-cards {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    overflow-x:auto ;
    padding: auto;
    scroll-behavior: smooth;
}
.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 200px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
.card-icon {
    height: 180px;
    width: 180px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}
.north .card-icon{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSHyrUu7qoGRNURfRYDZXpvbW1fmZBF3G46cg&s");
    background-size: cover;
}
.south .card-icon{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRGKDpqfzcOLF_0OrKVdJBnbU18Q-Mga2wrw&s");
    background-size: cover;
}
.chinese .card-icon{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWflwB7e_iDZLws_OqLt2djomUC4wn77nXRA&s");
    background-size: cover;
}

.italian .card-icon{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgLdHja5QlcTe-Oge_ouSGJvu6hSR2Fy7d8g&s");
    background-size: cover;
}
.sea .card-icon{
    background-image: url("https://b.zmtcdn.com/data/collections/61aa6bae0b27e2f561416c46811b3794_1681284308.jpg?fit=around|562.5:360&crop=562.5:360;*,*");
    background-size: cover;
}
.sweet .card-icon{
    background-image: url("https://blog.swiggy.com/wp-content/uploads/2024/07/Gulab-Jamun_-1024x536.jpg");
    background-size: cover;
}
.bengali .card-icon{
    background-image: url("https://i0.wp.com/yummraj.com/wp-content/uploads/2023/04/9ef894c0-8540-41a6-b4bf-24ccc3616df7.jpg?fit=768%2C576&ssl=1");
    background-size: cover;
}
.street .card-icon{
    background-image: url("https://i.pinimg.com/736x/23/3e/52/233e52177d20d308d10d766bfdbae7aa.jpg");
    background-size: cover;
}
.gujrati .card-icon{
    background-image: url("https://blog.swiggy.com/wp-content/uploads/2024/09/Image-3_Khaman-1024x538.png");
    background-size: cover;
}

.card h3 {
    font-size: 18px;
    font-weight: 700;
    color: #ff5722;
}
.footer-items{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.feedback{
    background-color: #c80404;
    color: white !important; /* Override the color */
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: 700;
    transition: background-color 0.3s;
    text-decoration: none;
}
.copy{
    text-align: center;
}